<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('Home')"></head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <h2 class="text-center">Best of by ...</h2>
    <div class="d-flex flex-column align-items-center mt-4">
        <div class="d-flex justify-content-center align-items-center border" style="width:300px; height:150px; 
                    background-image: url('https://picsum.photos/300/150'); 
                    background-size: cover; 
                    background-position: center;">
            <span class="text-white fw-bold"></span>
        </div>

        <div class="p-3 border mt-2 text-center" style="width: 300px;">
            <span th:text="${nome}"></span>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>